:root {
	--header-bg: rgb(79, 149, 157);
	--main-bg: rgb(246, 248, 213);
	--main-bg-alternate: rgb(152, 210, 192);
	--accent-bg: rgb(32, 87, 129);
	--accent-fg: rgb(246, 248, 213);
}


.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	header {
		background-color: var(--header-bg);
		padding: 0.25em 2em;

		h1{
			margin: 1em;
		}

		.nav-links {
			display: flex;
			gap: 1.2em;
			margin:0.6em;

			a {
				background-color: var(--accent-bg);
				padding: 0.15em 1em;
				border-radius: 0.25em;
				transition: 0.3s box-shadow;
				padding: 0.4em 1em;
				color: var(--accent-fg);
				text-decoration: none;

				&:hover {
					box-shadow: 3px 2px 0.25em var(--accent-bg);
				}
			}
		}
	}

	main {
		background-color: var(--main-bg);
		flex-grow: 1;
		padding: 0.25em 2em;




	}
}
