:root {
	--header-bg: rgb(64, 126, 64);
	--main-bg: rgb(182, 233, 182);
	--main-bg-alternate: rgb(159, 227, 159);
	--accent-bg: rgb(89, 124, 228);
	--accent-fg: white;
}


.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	header {
		background-color: rgb(148, 200, 240);
		padding: 0.25em 2em;

		.nav-links {
			display: flex;
			gap: 1.2em;
			margin-bottom: 0.6em;

			a {
				background-color: rgb(87, 177, 246);
				padding: 0.15em 1em;
				border-radius: 0.25em;
				transition: 0.5s box-shadow;

				/* &:hover {
					box-shadow: 0 0 0.2em 0.3em rgb(107, 142, 248);
				} */
			}
		}
	}

	main {
		background-color: rgb(190, 217, 237);
		flex-grow: 1;
		padding: 0.25em 2em;
	}
}
